<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ulisboa.tecnico.cmov.airdesk" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        android:name=".AirDeskApp">
        <activity
            android:name=".view.activity.AirdeskActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.UserRegistrationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".view.activity.WorkspaceFilesActivity"
            android:label="@string/title_activity_workspace_files" >
        </activity>

        <service android:name="pt.inesc.termite.wifidirect.service.SimWifiP2pService" />

        <activity
            android:name=".view.activity.WifiDirectActivity"
            android:label="@string/title_activity_wifi_direct"
            android:parentActivityName=".view.activity.AirdeskActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.AirdeskActivity" />
        </activity>
    </application>

</manifest>
